<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="/img/tig.svg" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>SHOP</title>
    <link rel="stylesheet" href="../css/shop.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href = "../css/navbar.css">
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
  </head>
  <body>
      <nav>
          <ul>
            <li class="primary-nav">
              <img src="/img/tig.svg" alt="logo" />
              <a href="/">SHOP</a>
            </li>
            <li class="secondary-nav">
              <a href="/checkout"> <i class="fas fa-shopping-cart"></i> CART </a>
            </li>
            <li class="secondary-nav">
              <a href="./contact-us">CONTACT US</a>
            </li>
            <li class="secondary-nav"><a href="/shop">SHOP</a></li>
            <li class="secondary-nav">
              <a href="/about-us">ABOUT US</a>
            </li>
          </ul>
        </nav>
    <section class="items">
      <h1>SHOP</h1>
      <div class="row">
        <div class="col">
            <h2>SORT BY</h2>
          <h3>PRICE</h3>
          <hr />
          <input type="radio" name="price" id="" /> Under $60 <br />
          <input type="radio" name="price" id="" /> Over $60 <br />
          <h3>MODEL</h3>
          <hr />
          <input type="radio" name="size" id="" /> A <br />
          <input type="radio" name="size" id="" /> B <br />
          <input type="radio" name="size" id="" /> C <br />
          <input type="radio" name="size" id="" /> D <br />
          <input type="radio" name="size" id="" /> E <br />
          <h3>COLOR</h3>
          <hr />
          <input type="radio" name="color" id="" /> Black <br />
          <input type="radio" name="color" id="" /> Yellow <br />
          <input type="radio" name="color" id="" /> Red <br />
          <input type="radio" name="color" id="" /> Green <br />
        </div>
        <div class="col2">
          <img class="header-img" src="/img/tig.gif" alt="" />
          <div class="items2">
        
                <div class="card">
                    <img src="/img/tig-yellow.svg" alt="Shoe" style="width:100%" data-src>
                    <h3>TIG Yellow</h3>
                    <p class="price">$59.99</p>
                    <p><a class="addcart" href="#">Add to Cart</a></p>
                </div>
                <div class="card">
                    <img src="/img/tig-red.svg" alt="Shoe" style="width:100%">
                    <h3>TIG Red</h3>
                    <p class="price">$49.99</p>
                    <p><a class="addcart" href="#">Add to Cart</a></p>
                </div>
                <div class="card">
                    <img src="/img/tig-pink.svg" alt="Shoe" style="width:100%">
                    <h3>TIG Pink</h3>
                    <p class="price">$89.99</p>
                    <p><a class="addcart" href="#">Add to Cart</a></p>
                </div>
                <div class="card">
                    <img src="/img/tig.svg" alt="Shoe" style="width:100%">
                    <h3>TIG Black</h3>
                    <p class="price">$99.99</p>
                    <p><a class="addcart" href="#">Add to Cart </a></p>
                </div>
                <div class="card">
                    <img src="/img/tig-blue.svg" alt="Shoe" style="width:100%">
                    <h3>TIG blue</h3>
                    <p class="price">$55.99</p>
                    <p><a class="addcart" href="#">Add to Cart</a></p>
                </div>
        </div>
      </div>
    </section>
  </body>
</html>
